---
layout: default
---  

<div class="home">

<p><img src="/images/about_headshot.gif" alt="Dan Sprockett" style="float:left; padding: 50px 50px 50px 10px;">
  <br>
  <h1>Welcome!</h1>
  <br>
  I am a PhD candidate in <a href="http://med.stanford.edu/relmanlab.html">David Relman's Lab</a> at the Stanford School of Medicine, where I study host-associated microbial communities. My research is centered on identifying where your microbiome comes from in early life, as well as the complex forces that shape it as it develops into a stable and resilient ecological system.<br>
  <br>
  Click around to learn more about my <a href="https://danielsprockett.github.io/research/">research interests</a>, read some of my <a href="https://danielsprockett.github.io/publications/">publications</a>, or use one of the <a href="https://danielsprockett.github.io/software/">R packages</a> that I've developed.
</p>   

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
  }
}
</style>
<br>
<br>
<br>
<div class="row">
  <div class="column">
    <h2>Research Interests</h2>
      <ul style="list-style-type:square;line-height:220%">
        <li>Host-Microbiome Interactions</li>
        <li>Ecological Theory</li>
        <li>Genome Evolution</li>
        <li>Scientific Reproducibility</li>
    </ul>

  </div>
  <div class="column">
    <h2>Education</h2>
    <p>
      <ul style="list-style-type:square;">
        <li>
          PhD - Microbiology & Immunology<br>
          <b style="color:dimgray;">Stanford University</b> (coming Spring 2019)<br>
        </li>
        <li>
          MSc - Ecology & Evolutionary Biology<br>
          <b style="color:dimgray;">Kent State University</b> (2009)<br>
        </li>
        <li>
          BSc - Cellular & Molecular Biology<br>
          <b style="color:dimgray;">Kent State University</b> (2006)<br>
        </li>
    </ul>
     
      
    </p>
  </div>
</div>
 
<br>  
<hr>
<br>

<h2>RECENT POSTS:</h2>
  {% for post in paginator.posts%}
  <div class="post postContent">
    <div  class="postDate"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
    </div>
    <div class="postTag">
      {{post.tag}}
    </div>
    <br>
    <div class="postTitle">
    <a class='postLink' href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a>
    </div>
    <div class="postExt">
   {{ post.content | strip_html | truncate:200}}
    </div>
  </div>

  {% endfor %}
  {% if paginator.total_pages > 1 %}
    <nav class="pagination">
      {% if paginator.previous_page %}
        <a class="paginationLink" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em class="paginationLink paginationLinkCurrent">{{ page }}</em>
      {% elsif page == 1 %}
        <a class="paginationLink" href="/">{{ page }}</a>
      {% else %}
        <a class="paginationLink" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a class="paginationLink" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% endif %}
    </nav>
  {% endif %}
  <!--<ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta-main">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link-main" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>-->



</div>

